* {
    font-family: 'Courier New', Courier, monospace;
}

.dados-de-contato {
    border: 1px solid grey;
}

.dados-de-login {
    border: 1px solid grey;
}

.login-todos {
    border: 1px solid grey;
}

.contato-todos {
    border: 1px solid grey;
}

.login-dados{
    display: flex;
}

.cpf{
    width: 250px;
}

#email {
    width: 250px;
    margin-right: 5px;
}

#confirmar {
    width: 250px;
}

input {
    margin-right: 5px;
}

#nome {
    width: 250px;
}

#sobrenome {
    width: 250px;
}