* {
    margin: 2px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

input {
    width: 250px;
    margin-bottom: 20px;
}

.login-todos { 
    border: 1px solid grey;
}

.dados-de-login { 
    border: 1px solid grey;
}

.contato-todos {
    border: 1px solid grey;
}

.dados-de-contato {
    border: 1px solid grey;
}

#cpf {
    width: 15%;
}

#email, #confirmar {
    width: 15%;
}

#nome, #sobrenome {
    width: 30%;
}

#nascimento, #rg {
    width: 35%;
}

#cep, #endereco, #n {
    width:25% ;
}

#bairro, #complemento, #cidade {
    width: 25%;
}

#estado, #ddd, #celular {
    width: 25%;
}